{% extends 'base.html.twig' %}

{% block title %} Add comment to: {{ article.title }} {% endblock %}

{% block pirobox %}{% endblock %}

{% block content %}

<div id="templatemo_main">
    <div class="post_section">
        <h3> Add comment to: {{ article.title }} </h3>
        <form action="{{ path('article', {'id': article.id}) }}" method = "POST">
            <textarea name="text" required></textarea>
            </br></br>
            <button type="submit">Comment</button>
        </form>

    </div>
</div>

<div class="cleaner"></div>
  </div> 
    <!-- end of templatemo_main -->

{% endblock %}