{% extends 'base.html.twig' %}

{% block title %}This is {{ title }} page!{% endblock %}

{% block content %}

    <div class="pattern_box">
        <div class="pattern_box_icon"><img src="{{ asset('/asset/images/icon1.png') }}" alt="" title="" width="70" height="112" /></div>
        <div class="pattern_content">
        <h1>My <span class="blue">Medicine</span></h1>
        <p class="pat">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        </div>
    </div>
        
        
    <div class="pattern_box">
        <div class="pattern_box_icon"><img src="{{ asset('/asset/images/icon2.png') }}" alt="" title="" width="70" height="112" /></div>
        <div class="pattern_content">
        <h1>Search <span class="blue"> Treatments</span></h1>
        <p class="pat">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        </div>
    </div>

{% endblock %}
