{% extends 'base.html.twig' %}

{% block title %}This is {{ title }} page!{% endblock %}

{% block content %}

    <div class="pattern_box">
        <div class="pattern_box_icon"><img src="{{ asset('/asset/images/icon1.png') }}" alt="" title="" width="70" height="112" /></div>
        <div class="pattern_content">
        <h1>Relaxive <span class="blue">Massage</span></h1>
        <p class="pat">
        Oh yes
        </p>
        </div>
    </div>
        
        
    <div class="pattern_box">
        <div class="pattern_box_icon"><img src="/asset/images/icon2.png" alt="" title="" width="70" height="112" /></div>
        <div class="pattern_content">
        <h1>Traditional <span class="blue"> Curement</span></h1>
        <p class="pat">
        Herbs, Solutions, Vodka, etc.
        </p>
        </div>
    </div>

{% endblock %}
